<section class="orders-show">
  <header class="page-header">
    <h1>Order completed!</h1>
  </header>

  <div class="panel panel-default items">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="2">Product</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% @line_items.each do |item| %>
            <%= render 'item', product: Product.find(item.product_id), quantity: item[:quantity].to_i %>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="4">
              TOTAL:
            </th>
            <th>
              <%= humanized_money_with_symbol @order.total_cents / 100.0 %>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>

  <div class="order-summary jumbotron">
    <h3>Order details will be emailed to <span class="text-info"><%= @order.email %></span></h3>
    <h3>Thank you for your order!</h3>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
